*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: linear-gradient(pink, lightgrey,pink, mistyrose, hotpink);
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(me2.png);
    border-radius: 10px;
    background-position: right;
    background-size: 600px;
    background-repeat: no-repeat;
    /*order: 5px solid palevioletred;*/
}

.container{
    padding: 10px ;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -50px;
}

.logo{
    width: 500px;
    margin-left: -10px;
    margin-top: -10px;
    
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a {
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}

nav ul li a:hover::after {
    width: 100%;

}

#about {
    background-image: url(sample\ \(2\).jpeg);
    image-resolution: 300dpi;
    height: 600px;
    background-size:cover;
    margin-top: 50px;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 80px 0;
    color:palevioletred;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 3.5s;
}

#about.show {
    opacity: 1;
    transform: translateY(0);
}

#floating-image{
    width: 300px;
    position: fixed;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 3.5s;
}

#floating-image.show{
    opacity: 1;
    transform: translateX(0);
}

.header-text{
    margin-top: 5%;
    font-size: 30px;
}

.header-text h1{
    font-size: 50px;
    margin-top: 20px;
}

.header-text h1 span{
    font-size: 50px;
    margin-top: 20px;
    color:palevioletred;
}

.row{
    display: flex; /*side by side*/
    justify-content: space-between;
}
.col1{
    flex-basis: 35%;

}

.col1 img{
    width: 90%;
    /*border: 5px solid mistyrose;*/
    margin-left: -10px;
    border-radius: 15px;
    animation:forwards;
}

.col2{
    flex-basis: 70%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.desc{
    color:white;
    margin-top: 20px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position:relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;

}
#education a{
    color: white;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    color:white;
}

.tab-contents ul li span{
    color:white;
    font-size: 16px;
    
}

.tab-contents{
    display:none; /*hides tab contens*/

}

.tab-contents.active-tab{
    display: block;
}

#services{
    padding: 30px 0;

}

.services-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    color: palevioletred;

}

.services-list div{
    background: mistyrose;
    padding:40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(100px);
    /*transition: background 2.5s, transform 3.5s;*/
    transition: opacity 2.5s, transform 3.5s cubic-bezier(0.23, 1, 0.32, 1)
}

.services-list div.show {
    opacity: 1;
    transform: translateY(0);
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 10px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: palevioletred;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: white;
    transform: translateY(-10px);
}

#projects{
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    color: palevioletred;
}


.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    opacity: 0; /* Initially set opacity to 0 */
    transform: translateX(-100%); /* Initially move images outside the viewport */
    transition: transform 2.8s, opacity 0.8s;
}

.work.animate img {
    opacity: 1;
    transform: translateX(0);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:hotpink;
  }

  .work .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
  }


.work:hover .overlay{
    opacity: 1;
    
}

.work .overlay .layer {
    color: white;
}

/* Adjust the timing and easing function as needed */
.work:hover img {
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.layer{
    text-align: center;
    color: #fff;
    
}

.layer a{
    margin-top: 20px;
    color: white;
    width:60px;
    height: 60px;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid pink;
    padding: 14px 60px;
    border-radius: 6px;
    text-decoration: none;
    color: palevioletred;
    transition: background 0.5s;
}


.btn:hover{
    background: pink;
}

.contact-left{
    flex-basis: 60%;
    color: palevioletred;
    margin-left: 200px;
    text-align: center;
}

.contact-right{
    flex-basis: 60%;
    right:20px;
    
}

.contact-left p{
    flex-basis: 35%;
}

.contact-left p i{
    color: palevioletred;
    align-items: center;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: palevioletred;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: white;
    transform: translateY(-5px);

}

.btn.btn2{
    display: inline-block;
    background: pink;
    align-items: center;
    margin-left: 60px;
    
}

#download-button{
    display: flex;
    justify-content: center;
    margin-left: 120px;
    padding: 14px 60px;
    font-size: 18px;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-right form {
    width: 50%; /* Adjust as needed */
    margin-right: 20px; /* Add margin instead of right */
}

form input,
form textarea {
    width: 100%; /* Adjust as needed */
    border: 0;
    outline: none;
    background: mistyrose;
    padding: 15px;
    margin: 15px 0;
    color: palevioletred;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
    background: pink;
}

.copyright{
    color: palevioletred;
}

#contact{
    background-image:url(images/bottom1.png);
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    image-resolution: 600dpi;
    
}

nav .fa-solid{
    display: none;
}

/*css for small screen*/

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/me2_resized\ \(2\).png);
        background-position: right;
       background-size: 400px;
        background-repeat: no-repeat;
    }
    .header-text{
        margin-top: 80%;
        font-size: 16px;
    }

    .header-text h1{


        font-size: 30px;
        margin-top: 40%;
    }

    .sub-title{
        margin-top: 10%;
    }

    .tab-titles{
        margin-top: 10%;
    }


    nav .fa-solid{
        display: block;
        font-size: 18px;
    }

    nav ul{
        background: palevioletred;
        position: fixed;
        top:0;
        right: -200px;
        width: 100px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title{
        font-size: 40px;
    }

    .col1, .col2{
        flex-basis: 100%;
    }
}

#msg{
    color: palevioletred;
    margin-bottom: 100px;
    margin-top: -80px;
    display: block;
    text-align: left;
}
